# Dell Dev GenAI credentials
CLIENT_ID=
CLIENT_SECRET=
USE_SSO=false
ENABLE_TOKEN_REFRESH_AT_SERVER_SIDE=false

# App Settings
MYSLIDES_DATA_DIR=./data
MYSLIDES_LLM_MODEL=gpt-oss-120b
MYSLIDES_RENDERER=powerpoint
MYSLIDES_BASE_TEMPLATE=../ppt/templates/Dell_Brand_PPT_Template_May2025.pptx
MYSLIDES_ICON_DIR=../ppt/scripts/executive_examples/icons/all
MYSLIDES_ICON_CATALOG=../ppt/scripts/executive_examples/icons/FLUENT_ICON_CATALOG.md
MYSLIDES_GITHUB_TOKEN=
